.vc-media-playback-speed-icon {
    background-color: transparent;
    height: 100%;
    z-index: 2;
    color: var(--interactive-text-default);
}

.vc-media-playback-speed-icon:hover {
    color: var(--interactive-text-hover);
}
