.vc-settings-theme-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.vc-settings-theme-link-input {
    flex: 1;
}

.vc-settings-theme-error-card {
    padding: 16px;
}

.vc-settings-theme-csp-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.vc-settings-theme-csp-row a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
}

.vc-settings-usercss-ie-buttons>div {
    color: var(--interactive-normal);
    opacity: 0.5;
    padding: 4px;
    cursor: pointer;
}

.vc-settings-usercss-ie-buttons>div:hover {
    color: var(--interactive-hover);
    opacity: 1;
}
