.channel-badge {
    margin-left: 0.2rem;
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    color: var(--white);

    order: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.badge-container {
    display: flex;
    gap: 0.1rem;
    align-items: center;

    margin-left: 0.2rem;
    order: 2;
}

.channel-badge-text {
    background-color: #5865F2;
}

.channel-badge-dm {
    background-color: #7289DA;
}

.channel-badge-voice {
    background-color: #3BA55D;
}

.channel-badge-group_dm {
    background-color: #5E81AC;
}

.channel-badge-category {
    background-color: #4F545C;
}

.channel-badge-directory {
    background-color: #FAA61A;
}

.channel-badge-thread,
.channel-badge-public_thread,
.channel-badge-private_thread,
.channel-badge-rules {
    background-color: #7289DA;
}

.channel-badge-stage {
    background-color: #ED4245;
}

.channel-badge-announcement {
    background-color: #FAA61A;
}

.channel-badge-announcement_channel {
    background-color: #FF4500;
}

.channel-badge-forum {
    background-color: #5865F2;
}

.channel-badge-nsfw {
    background-color: #E91E63;
}

.channel-badge-locked {
    background-color: #B9BBBE;
}

.channel-badge-unknown {
    background-color: #747F8D;
}