.vc-plugins-management-cards.vc-plugins-grid {
    grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
}

.vc-plugins-management-cards .vc-addon-title-container {
    width: max-content;
    max-width: 100%;
}

.vc-plugins-management-cards .vc-addon-title {
    position: static;
    overflow: visible;
}
